/* CreateBundle.css */

.create-bundle-container {
    width: 100%;
}

.bundle-header {
    position: sticky;
    top: 0;
    background: #fff;
    z-index: 10;
    padding: 16px 24px;
    border-bottom: 1px solid var(--border-color);
    display: flex;
    justify-content: space-between;
}

.header-left {
    display: flex;
    align-items: center;
    gap: 16px;
}

.header-left h2 {
    margin: 0;
    font-size: 24px;
    font-weight: 600;
}

.card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    padding: 24px;
    margin-bottom: 24px;
}

.card-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: 0;
    margin-bottom: 16px;
    color: #333;
}

.card-subtitle {
    font-size: 14px;
    color: var(--text-secondary);
    margin: 16px 0;
}

.form-full-w-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 12px;
}

.form-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.input-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    grid-column: span 2;
}

.shipping-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px;
}

.section-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 16px;
}

.add-media-btn {
    font-weight: 500;
}

.group-table table {
    width: 100%;
    border-collapse: collapse;
}

.group-table th,
.group-table td {
    padding: 12px 16px;
    text-align: left;
    border-bottom: 1px solid var(--border-color);
}

.group-table th {
    background-color: var(--background-light);
    font-weight: 500;
    font-size: 14px;
}

.group-table td {
    font-size: 14px;
}

.input-field {
   margin-bottom: 12px;
}

.form-container-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.form-container {
    display: flex;
    margin-top: 24px;
    gap: 24px;
    flex-direction: column;
    min-width: 85%;
    align-items: center;
    justify-content: center;
}