/* GroupTable.css */

/* .group-table {
  border: 1px solid #e5e7eb;
  border-radius: 8px;
}

.group-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 16px;
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
}

.group-title {
  margin: 0;
  font-size: 16px;
  font-weight: 500;
}

.remove-group-btn {
  color: #ef4444;
}

.table-header {
  display: grid;
  grid-template-columns: 5fr 2fr 3fr;
  padding: 10px 16px;
  background-color: #f9fafb;
  border-bottom: 1px solid #e5e7eb;
  font-weight: 500;
  font-size: 14px;
}

.skus-column {
  text-align: left;
}

.quantity-column {
  text-align: center;
}

.price-column {
  text-align: right;
}

.table-body {
  max-height: 500px;
  overflow-y: auto;
}

.product-row {
  display: grid;
  grid-template-columns: 3fr 2fr 3fr;
  padding: 12px 16px;
  border-bottom: 1px solid #e5e7eb;
  align-items: center;
  max-width: 100%;
}

.product-row:last-child {
  border-bottom: none;
}

.empty-products {
  padding: 24px;
  text-align: center;
  color: #666;
  font-style: italic;
}

.group-table-loading {
  padding: 24px;
  text-align: center;
  color: #666;
}

@media (max-width: 768px) {
  .table-header,
  .product-row {
    grid-template-columns: 4fr 2fr 3fr;
  }
}

 */

 .group-table-header {
  display: grid;
  grid-template-columns: 7fr 2fr 3fr;
  border-bottom:  0.5px solid #e5e7eb;
  font-weight: 500;
  font-size: 14px;
  padding: 2px 16px;
 }

 .group-table {
  border:  0.5px solid #e5e7eb;
  border-radius: 12px;
 }

 .product-info{
  display: flex;
  align-items: center;
  padding: 12px 16px;
  width: 100%;
 }

 .product-row {
  display: grid;
  grid-template-columns: 7fr 2fr 3fr;
  border-bottom: 0.5px solid #e5e7eb;
  align-items: center;
  max-width: 100%;
 }

 .product-row:last-child {
  border-bottom: none;

 }

 .group-table-body {
background-color: #fff;
 }

 .product-image {
  width: 40px;
  height: 40px;
  margin-right: 16px;
 }